<template>
</template>

<script>
import axios from 'axios'

function getUrlParams(search) {
  let hashes = search.slice(search.indexOf('?') + 1).split('&')
  return hashes.reduce((params, hash) => {
      let [key, val] = hash.split('=')
      return Object.assign(params, {[key]: decodeURIComponent(val)})
  }, {})
}

export default {
  name: 'callback',
  beforeCreate() {
    const queryString = this.$route.hash.replace("#", "")
    const queryParams = getUrlParams(queryString)
    localStorage.setItem('request_token', queryParams.access_token)
    const accessToken = localStorage.getItem('request_token')

    const axiosOptions = {
      method: 'GET',
      headers: { 'Authorization': `Bearer ${accessToken}` },
      url: "https://api.spotify.com/v1/me"
    };

    const requestSuccess = (response) => {
      const userData = JSON.stringify(response.data)
      localStorage.setItem('user', userData)
      this.$router.push('/')
    }
    const requestError = (error) => console.log(error)

    axios(axiosOptions)
      .then(requestSuccess)
      .catch(requestError)
  },
  components: {
  }
}
</script>
