<template>
  <div class="home">
    <div v-if="user">
      <p>logged in {{user.email}}</p>
    </div>
    <div v-else>
      <img alt="spotify app logo" src="@/assets/spotify_icon_.png">
      <WelcomeLogin msg="welcome to the spotify app"/>
    </div>
  </div>
</template>

<script>
import WelcomeLogin from '@/components/WelcomeLogin.vue'
const user = JSON.parse(localStorage.getItem('user'))

export default {
  name: 'home',
  data: () => {
    return {
      user: user
    }
  },
  components: {
    WelcomeLogin
  }
}
</script>

<style lang="less">
</style>
