<template>
  <div class="hello">
    <h2>{{ msg }}</h2>
    <p>
      Please, <a :href="url" target="_blank" rel="noopener">login</a>.
    </p>
  </div>
</template>

<script>
function buildQueryString(params){
  return Object.keys(params).map(key => key + '=' + params[key]).join('&');
}
function getUniqueString(){
   return Math.random().toString(36).slice(2);
}
function getAuthorizeUrl(config){
  const baseURL = "https://accounts.spotify.com/authorize/" // server side
  const queryParams = {
    client_id: config.client_id,
    response_type: "token",
    redirect_uri: encodeURIComponent(config.redirect_uri),
    scope: encodeURIComponent(config.scope),
    state: getUniqueString()
  }
  const queryString = buildQueryString(queryParams)
  const url = baseURL + "?" + queryString
  return url
}

const config = {
  client_id: "8e7b57908676451cba9d468607cce01c",
  redirect_uri: "http://localhost:8080/callback/?",
  scope: "user-read-private user-read-email"
}
const url = getAuthorizeUrl(config)

export default {
  name: 'HelloWorld',
  props: {
    msg: String 
  },
  data: () => ({
    url: url
  })
}
</script>

<style scoped lang="less">
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
