<template>
  <div id="app">
    <Nav></Nav>
    <router-view/>
  </div>
</template>

<script>
import Nav from '@/components/Nav.vue'

export default {
  name: 'app',
  components: {
    Nav
  }
}
</script>

<style lang="less">
@import url("/public/google-font-questrial.css");

@color01: #E9D9D9;
@color02: #C9A2A2;
@color03: #B38E8D;
@color04: #0C0809;
@color05: #CAC7B8;
@color06: #5C3A3D;
@color07: #A5605E;
@color08: #B78548;

html, body {
  background: @color02;
  font-family: 'Questrial', sans-serif;
}

.shadow {
  -moz-box-shadow:    3px 3px 4px 4px @color03;
  -webkit-box-shadow: 3px 3px 4px 4px @color03;
  box-shadow:         3px 3px 4px 4px @color03;
}

.roundborders {
  border-radius: 10px;
}


#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background: @color01;
  width: 1050px;
  height: 660px;
  margin: 140px auto;
  .shadow;
  .roundborders;
}
</style>
